<!DOCTYPE html>
<html>
    <head>
        <title>Smart recycling bins data</title>
    </head>
    <body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" />
	<canvas id="line-chart" width="800" height="450"></canvas>
	<div id="dychart-chart" width="800" height="450"></div>
	<script>
	new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: [ {% for i in distance_data %}new Date("{{ i }}").toLocaleString(){{ ", " if not loop.last }}{% endfor %}],
    datasets: [{ 
        data: [
		{% for i in distance_data %}{
          t: new Date("{{ i }}"),
          y: {{ distance_data[i]['ec:fa:bc:e:a6:95_1']['distance'] }}
        }{{ "," if not loop.last }}{% endfor %}
		],
        label: "ec:fa:bc:e:a6:95_1",
        borderColor: "#3e95cd",
        fill: false
      },
	  { 
        data: [
		{% for i in distance_data %}{
          t: new Date("{{ i }}"),
          y: {{ distance_data[i]['ec:fa:bc:e:a6:95_2']['distance'] }}
        }{{ "," if not loop.last }}{% endfor %}
		],
        label: "ec:fa:bc:e:a6:95_2",
        borderColor: "#8e5ea2",
        fill: false
      },{ 
        data: [
		{% for i in distance_data %}{
          t: new Date("{{ i }}"),
          y: {{ distance_data[i]['ec:fa:bc:e:a6:95_3']['distance'] }}
        }{{ "," if not loop.last }}{% endfor %}
		],
        label: "ec:fa:bc:e:a6:95_3",
        borderColor: "#3cba9f",
        fill: false
      },{ 
        data: [
		{% for i in distance_data %}{
          t: new Date("{{ i }}"),
          y: {{ distance_data[i]['ec:fa:bc:e:a6:95_4']['distance'] }}
        }{{ "," if not loop.last }}{% endfor %}
		],
        label: "ec:fa:bc:e:a6:95_4",
        borderColor: "#e8c3b9",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Distance data from smart recycling bins'
    }
  }
});</script>
	<script>
    g = new Dygraph(
    document.getElementById("dychart-chart"),
	              [
                [1,10,100],
                [2,20,80],
                [3,50,60],
                [4,70,80]
              ],
              {
                labels: [ "x", "A", "B" ]
});</script>
    </body>
</html>
