<!DOCTYPE html>
<html>
    <head>
        <title>Smart recycling bins data</title>
    </head>
    <body>
<!--	<h3> a ==>  {{ distance_data }}</h3>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<canvas id="line-chart" width="800" height="450"></canvas>
	<script>
	new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: [ {% for i in distance_data %}new Date("{{ i }}").toLocaleString(){{ "," if not loop.last }}{% endfor %}],
    datasets: [{ 
        data: [
		{% for i in distance_data %}{
          t: new Date("{{ i }}"),
          y: {{ distance_data[i]['ec:fa:bc:e:a6:95_1']['distance'] }}
        }{{ "," if not loop.last }}{% endfor %}
		],
        label: "ec:fa:bc:e:a6:95_1",
        borderColor: "#3e95cd",
        fill: false
      },
	  { 
        data: [
		{% for i in distance_data %}{
          t: new Date("{{ i }}"),
          y: {{ distance_data[i]['ec:fa:bc:e:a6:95_2']['distance'] }}
        }{{ "," if not loop.last }}{% endfor %}
		],
        label: "ec:fa:bc:e:a6:95_2",
        borderColor: "#8e5ea2",
        fill: false
      },{ 
        data: [
		{% for i in distance_data %}{
          t: new Date("{{ i }}"),
          y: {{ distance_data[i]['ec:fa:bc:e:a6:95_3']['distance'] }}
        }{{ "," if not loop.last }}{% endfor %}
		],
        label: "ec:fa:bc:e:a6:95_3",
        borderColor: "#3cba9f",
        fill: false
      },{ 
        data: [
		{% for i in distance_data %}{
          t: new Date("{{ i }}"),
          y: {{ distance_data[i]['ec:fa:bc:e:a6:95_4']['distance'] }}
        }{{ "," if not loop.last }}{% endfor %}
		],
        label: "ec:fa:bc:e:a6:95_4",
        borderColor: "#e8c3b9",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Distance data from smart recycling bins'
    }
  }
});</script>
    </body>
</html>
