<!DOCTYPE html>
<html>
    <head>
        <title>Smart recycling bins data</title>
    </head>
    <body>
	<h3> a ==>  {{ distance_data }}</h3>
	{% for i in distance_data %}
		{% for j in distance_data[i] %}
	<h3> {{ i }}: {{ j }} atstumas yra {{ distance_data[i][j]['distance'] }}</h3>
		{% endfor %}
	{% endfor %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<canvas id="line-chart" width="800" height="450"></canvas>
	<script>
	new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: [ {% for i in distance_data %}new Date("{{ i }}").toLocaleString(){{ "," if not loop.last }}{% endfor %}],
    datasets: [{ 
        data: [
		{% for i in distance_data %}{
          t: new Date("{{ i }}"),
          y: 5
        }{{ "," if not loop.last }}{% endfor %}
		],
        label: "bele",
        borderColor: "#e8c3b9",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Distance data from smart recycling bins'
    }
  }
});</script>
    </body>
</html>
